__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Data files
data/raw_pdfs/**/*.pdf
data/parsed_pdfs/**/*.pdf
data/extracted/*
data/logs/*
data/*.db

# Windows metadata
*:Zone.Identifier
*.Zone.Identifier

# Notebooks output
notebooks/.ipynb_checkpoints/

# IDE
.vscode/
.idea/
